<!-- File: /app/View/Elements/sidebar/projects.ctp -->

<li class="nav-header"><?php echo __('Databases'); ?></li>
<li><?php echo $this->Html->link(__('Databases'), '/databases'); ?></li>
<li><?php echo $this->Html->link(__('Servers'), '/databaseservers'); ?></li>
<br/>
