<!-- File: /app/View/Elements/sidebar/projects.ctp -->

<li class="nav-header"><?php echo __('Projects'); ?></li>
<li><?php echo $this->Html->link(__('Link 1'), '/projects'); ?></li>
<li><?php echo $this->Html->link(__('Link 2'), '/projects'); ?></li>
<br/>
