<!-- File: /app/View/Elements/sidebar/projects.ctp -->

<li class="nav-header"><?php echo h($project['DatabaseProject']['projectname']); ?></li>
<li><?php echo $this->Html->link(__('ChangeLog'), '/databaseprojects'); ?></li>
<li><?php echo $this->Html->link(__('Reports'), '/databaseprojects'); ?></li>
<li><?php echo $this->Html->link(__('Snapshots'), '/databaseprojects'); ?></li>
<li><?php echo $this->Html->link(__('History'), '/databaseprojects'); ?></li>
<br/>
