<!-- File: /app/View/Elements/sidebar/jobs.ctp -->

<li class="nav-header"><?php echo __('Jobs'); ?></li>
<li><?php echo $this->Html->link(__('Schedules'), '/jobs'); ?></li>
<li><?php echo $this->Html->link(__('Runs'), '/jobs'); ?></li>
<br/>
