<!-- File: /app/View/Projects/snapshot.ctp -->

<?php
  
  $this->start('sidebar');
  $this->assign('sidebar', '');
  echo $this->element('sidebar/databaseprojects');
  $this->end();
?>

<br/>

<div class="container-fluid center">
  <div class="users form">
    <div class="row well" style="vertical-align: middle;"><?php echo $this->Session->flash('auth'); ?>
      <?php echo $this->Form->create('Project'); ?>
        
      <fieldset>
        <legend><b><?php echo __('Snapshot'); ?></b></legend>
      </fieldset>
    </div>
  </div>
</div>
