/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #555;
	font-family: Helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	width 100%;
	background: #FFF;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

h1{
	font-size: 24px;
	margin-bottom: 5px;
}

h2{
	font-size: 20px;
	margin-bottom: 5px;
}

h3{
	font-size: 18px;
	margin-bottom: 5px;
	color: rgb(60, 128, 167);
}

h4{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

h5{
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}

h5 small {
	font-weight: normal;
	font-size: 12px;
}

p{
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
	float: none;
	clear: both;
	padding: 2px 0 10px 0;
	font-style: italic;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	padding: 10px;
	margin-bottom: 10px;
	min-width: 100%;
	width: 100%;
	font-size: 13px;
}

/*
th{
	padding: 5px;
	background-color: rgb(155, 155, 155);
	text-align: left;
	margin: 5px;
	color: white;
}
*/

th{
	border: 1px solid rgb(155, 155, 155);
	border-collapse: seperated;
	border-spacing: 1;
	background-color: rgb(155, 155, 155);
	color: white;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	text-align: left;
	width: auto;
}

tr {
	background-color: #FFFFFF;
	border-bottom: solid 1px #DDD;
}

tr:nth-child(even){
	background-color: #F3F3F3;
}

td{
	padding: 5px;
	text-align: left;
	margin: 5px;
}

td input {
	background: none;
}

table#impact{
	border: 1px solid rgb(155, 155, 155);
	border-collapse: collapse;
	border-spacing: 0;
	color: rgb(60, 128, 167);
	font-size: 13px;
	text-align: center;
	width: 50%;
}

table#impact th{
	border: 1px solid rgb(155, 155, 155);
	border-collapse: seperated;
	border-spacing: 1;
	background-color: rgb(60, 128, 167);
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

table#impact tr{
	border: 1px solid rgb(155, 155, 155);
	border-collapse: seperated;
	border-spacing: 1;
	width: 50%;
}

table#impact td{
	border: 1px solid rgb(155, 155, 155);
	border-collapse: seperated;
	border-spacing: 1;
	width: 50%;
}

.table-parent {
	width: 100%;
	overflow-x: auto;
}

a {
	color: #0C74D5;
	font-size: 12px;
} 

a:active {
	color: #555;
	font-size: 12px;
} 

#header{
	margin: 0;
	padding: 20px;
	width 100%;
	display: block;
	background: white;
	padding-bottom: 4px;
	padding-top: 10px;
}

#header h1 {
	padding: 10px 0 5px 0;
	display: inline-block;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 0;
}

#header form{
	float: right;
	text-align: right;
	padding: 10px 0 0 0;
}

#changeset{
	padding: 28px 0 40px 0;
}

#changeset h2{
	float: left;
	padding: 0 20px 0 20px;
	font-weight: bold;
}

#changeset form{
	float: left;
}

#impact{
	margin: 0;
	padding: 20px;
	/*width: 100%;*/
	display: block;
	background: white;
	padding-bottom: 4px;
	padding-top: 10px;
}

#impact h1 {
	padding: 10px 0 5px 0;
	display: block;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 0;
	color: blue;
}

#impact h2 {
	padding: 10px 0 5px 0;
	display: block;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 0;
}

.successOrFailure {
	margin: 0;
	background: white;
	color: green;
	font-weight: bold;
	display: block;
	padding: 20px;
	padding-bottom: 4px;
	padding-top: 10px;
}

.error {
  color: red;
  }
  
 .forecast {
  color: blue;
  }
  
.impactSummary{
	padding: 10px 10px 5px 10px;
	font-size: 21px;
}

.main{
	margin: 0;
	width 100%;
	background-color: #F0F6FA;
	width: 100%;
	font-size: 12px;
	border: solid 1px #B6C9D6;
	border-left: 0;
	border-right: 0;
}

.main .inner{
	padding: 2px 0 10px 30px;
}

.col {
	float: left;
	margin-right: 50px;
	max-width: 284px;
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
	min-width: 50px;
}

.bottom .col {
	margin-right: 30px;
}

.col.last {
	margin-right: 0;
}

.col div {
	font-size: 12px;
}

.metadata {
	background: #f3f3f3;
	padding: 5px 20px 17px 20px;
	border-left: solid 1px #DDD;
	border-top: solid 1px #DDD;
	border-right: solid 1px #FFF;
	border-bottom: solid 1px #FFF;
}

.sql-child {
	margin-left: 20px;
}

.bottom{
	margin: 0 20px 20px 20px;
	padding: 20px;
	background-color: #ECECEC;
	clear: both;
	border-radius: 4px;
}

.bottom h2{
	margin-top: 20px;
}

.bottom h3{
	display: inline-block;
	float: left;
}

.bottom h4{
	float: right;
}

input.expand-all-button{
	float: right;
	margin-right: 20px;
}

input {
	background-color: #888;
	border: 0;
	color: white;
	cursor: pointer;
	border-radius: 3px;
}

input:hover {
	background: #5C728A;
}

input:active {
	background: #2F4F68;
}

.expand-button {
	background: transparent;
	background-image: url(./images/expand-arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: -4px;
	padding-left: 15px;
	*padding-left: 0;
	font-size: 12px;
	text-decoration: underline;
	color: #0C74D5;
	border: 0;
	cursor: pointer;
}

.expand-button:active {
	color: #555;
}

.expand-button.expanded {
	background-image: url(./images/collapse-arrow.gif);
}

.expandable {
	overflow: hidden;
	display: none;
}

.templateinfo {
  color:light-gray;
  font-size:4px;
}

DaticalSQL{
  color: #151;
  border: 2;
  text-decoration: blink;
  font-family: Lucidatypewriter, monospace; 
}